html,
body {
    height: 100%;
}

header {
    height: auto;
}

footer {
    height: 75px;
    background-color: navy;
}

footer h5 {
    color: aliceblue;
}

h1,h2 {
    margin: 0;
    color: aliceblue;
}

#hero {
    height: 200px;
    background-color: navy;
}